body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.licence {
    text-align: center;
    color: black;
}

#intro {
    color: black;
}

td {
    /*border-width: 1px;
    border-style: solid;*/
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

