/* Ce fichier va contenir votre css. */

/*
Pour enlever le souligner d'un élément.
text-decoration: none; 

Pour centrer des éléments, on peut utiliser la propriété.
text-align: center;

Pour définir la police.
font: Arial;
 */