/* 
Flexbox
1ere étape : Mettre le container en display: flex
*/

html, .container {
    height: 1000px;
}
.container {
    display: flex;
    justify-content: space-around;
}

.block {
    align-items: center;
    justify-content: center;
}

.block-1{
    flex-grow: 1;
    order: 2;
}

.block-2 {
    flex-grow: 1;
    order: 1;
}
.block-3 {
    flex-grow: 1;
    order: 3;
}